In [2]:
my_string='hello'
print(my_string)
my_string="hello"
print(my_string)
my_string='''hello'''
print(my_string)
my_string='''hello, welcome to the world of python'''
print(my_string)

hello
hello
hello
hello, welcome to the world of python

In [4]:
x = "hyderabad"
print(x[2:7])

derab

In [17]:
city = "bhopal"
print(city)

bhopal

In [14]:
city = "Bhopal"
print(city[0])
print(city[1])
print(city[-1])
print(city[-2])

B
h
l
a

In [22]:
city = "hyderabad"
for i in range (len(city)-1,-1,-1):
    print(city[i])

d
a
b
a
r
e
d
y
h

In [23]:
city = "Bhopal"
print(city[:-2])

Bhop

In [28]:
city = "Bhopal"
print(city[-2:])

al

In [31]:
city = "Hyderabad"
print(city[1:8:2])

yeaa

In [32]:
city="bhopal"
print(city[1:4:2])

hp

In [35]:
a = "good "
b = "morning "
c = "user"
print (a + b + c)

good morning user

In [36]:
a = "bye"
print(a*2)
print(a*2)

byebye
byebye

In [2]:
a = "banana"
print("nana"in a)
print("nani" in a)
print("ban" in a)

True
False
True

In [8]:
a = "london"
b = "london"
c = "paris"
print(a is b)
print(a is c)
print(b is c)
print(b is not a)
print(b is not c)

True
False
False
False
True

In [9]:
name = "sachin"
print(len(name))

6

In [10]:
name="bhopal"
print(max(name))

p

In [11]:
str = "abc9i2903ir-031ui@#$%yasd"
print(max(str))

y

In [15]:
str = ("False,True")
print(max(str))

u

In [17]:
str = "1.1,2.0,2.9"
print(max(str))

9

In [18]:
name = "bhopal"
print(min(name))

a

In [21]:
name = "Bhopal"
print(min(name))

B

In [27]:
str = "abc123#$.y@"
print(min(str))

#

In [31]:
str = "1.1,0.4,1.9"
print(min(str))

,

In [38]:
print(chr(43))

+

In [43]:
print(chr(56))

8

In [44]:
print(chr(1))



In [47]:
print(chr(-1))

ValueError: chr() arg not in range(0x110000)

In [49]:
print(chr(97))

a

In [51]:
print(ord("a"))

97

In [52]:
print(ord("+"))

43

In [53]:
print(ord("5"))

53

In [56]:
print(str(49.2))

TypeError: 'str' object is not callable

In [57]:
print(str(True))

TypeError: 'str' object is not callable

In [60]:
name = "Sachin"
age = 34
print("my name is",name,"my age is",age)
print("my name is {0} and my age is {1}".format(name,age))
print("my name is %s and my age is %d"%(name,age))

my name is Sachin my age is 34
my name is Sachin and my age is 34
my name is Sachin and my age is 34

In [1]:
a = 10
b = 20
print(f"sum is {a+b}")

sum is 30

In [3]:
name = "guido van rossum"
newname = name.capitalize()
print(f"original name is {name}\nCapitalized name is {newname}")

original name is guido van rossum
Capitalized name is Guido van rossum

In [4]:
name = "Sachin Kapoor"
lc = name.lower()
uc = name.upper()
print(f"original name is {name}\nlowercase name is {lc}\nuppercase name is {uc}")

original name is Sachin Kapoor
lowercase name is sachin kapoor
uppercase name is SACHIN KAPOOR

In [8]:
name = "Sachin Kapoor"
newname = name.swapcase()
print("original name is {}".format(name))
print("swapped name is {}".format(newname))

original name is Sachin Kapoor
swapped name is sACHIN kAPOOR

In [10]:
sentence = "Lekha is a bad boy"
new_sentence = sentence.title()
print ("the normal sentence is: {}".format(sentence))
print ("the title sentence is: {}".format(new_sentence))

the normal sentence is: Lekha is a bad boy
the title sentence is: Lekha Is A Bad Boy

In [11]:
text = "i LoVE pYthOn"
print (text.title())

I Love Python

In [12]:
text = "physics,maths,chemistry"
print (text.title())

Physics,Maths,Chemistry

In [13]:
text = "physics_chemistry_maths"
print (text.title())

Physics_Chemistry_Maths

In [14]:
text = "he's an engineer, isn't he?"
print (text.title())

He'S An Engineer, Isn'T He?

In [15]:
s = "this is good"
print(s.islower())
s = "th!s i$ @l$0 g00d"
print(s.islower())
s = "this is Not good"
print(s.islower())

True
True
False

In [16]:
s = "THIS IS GOOD"
print(s.isupper())
s = "THIS IS ALSO G00D"
print(s.isupper())
s = "THIS IS noT GOOD"
print(s.isupper())

True
True
False

In [17]:
title = "This Is A Title"
print(title.istitle())

True

In [18]:
s = "Python Is Good"
print(s.istitle())
s = "Python is good"
print(s.istitle())
s = "This Is @ Symbol"
print(s.istitle())
s = "99 Is A Number"
print(s.istitle())
s = "PYTHON"
print(s.istitle())

True
False
True
True
False

In [19]:
name = "Monalisa"
print(name.isalpha())
name = "M0nalisa"
print(name.isalpha())
name = "Mona Lisa"
print (name.isalpha())

True
False
False

In [20]:
digit = "123456"
print(digit.isdigit())
digit = "021345"
print(digit.isdigit())

True
True

In [21]:
name = "M123onalisa"
print(name.isalnum())
name = "Mo123na L32sa"
print(name.isalnum())

True
False

In [23]:
s = "\t"
print(s.isspace())
s = "a"
print(s.isspace())
s = " " 
print(s.isspace())
s =''
print(s.isspace())

True
False
True
False

In [31]:
text = "Python is easy to learn"

result  = text.startswith("is easy")
print (result)

result = text.startswith("Python is")
print(result)

result = text.startswith("Python is easy to learn")
print (result)

result = text.startswith("is easy",7)
print(result)

False
True
True
True